.cardContainer {
  display: grid;
  width: 300px;
}

.ProgressLoader {
  display: block;
}

.row {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.ListPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 250px;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

